@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.moon-path {
  fill: black; /* Default for light mode */
}

.dark-mode .moon-path {
  fill: white; /* White for dark mode */
}

